*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root{
    --primary-color-text: #0087ca;
    --primary-linear-color:linear-gradient(to right, rgb(252, 74, 26), rgb(247, 183, 51));
    --accent-color: #2294ed;
    --accent-color-dark: #1d69a3;
    --complimentary-color: #ed7b22;
}

body{
    max-width: 1900px;
    font-family: "Poppins", sans-serif;
    /* background-color: #5ca0f2; */
    /* background: linear-gradient(to right, rgb(252, 74, 26), rgb(247, 183, 51)); */
}

header{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    margin: 0;
    padding: 0;
    border-bottom: 2px solid var(--accent-color);
    z-index: 1; /*this made the links with the hover effect hide behind the nav as without it they appear on it*/
}

section{
    display: flex;
    justify-content: center;
}

.nav-bar {
    background-color: var(--accent-color);
    list-style: none;
    display: flex;
    justify-content: right;
    padding: 2em;
    gap: 2em;
    font-size: 16px;
}

li>a{
    color: white;
}

li{
    position: relative;
    font-size: 20px;
    font-weight: 700;
  }
  
li::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--complimentary-color);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
li:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

h2{
    font-size: 30px;
    font-weight: 700;
    text-shadow: 3px 4px 8px var(--complimentary-color);
    text-align: center;
}

.container{
    display: flex;
    align-items:center;
    gap: 5em;
    padding: 3em ;
    margin: 0 auto;
    /* margin-bottom: 50px; */
    border-bottom: 2px solid var(--primary-color-text);
}

.container>img{
    border: solid 2px var(--primary-color-text);
}

.description{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2em;
    font-weight: 300;
    font-size: 19px;
}

.description span{
    font-weight: 700;
    text-shadow: 2px 2px 2px var(--complimentary-color);
}

.links{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: .5em;
    font-size: 2em;
}

.links a{
    text-shadow: 2px 2px #ed7b22;
}

a[data-tool-tip]{
    position: relative;
}

a[data-tool-tip]::after{
    content: attr(data-tool-tip);
    display: block;
    position: absolute;
    background-color: var(--complimentary-color);
    padding: 1em 2em;
    color: white;
    border-radius: 1em;
    font-size: .3em;
    bottom: 0;
    left: 0;
    white-space: nowrap;
    transform: scale(0);
    transition: transform ease-out 150ms, bottom ease-out 150ms;
}

a[data-tool-tip]:hover::after{
    transform: scale(1);
    bottom: 100%;
}

.about-text>p{
    line-height: 30px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}

/* .about-text>a{
    font-size: 30px;
    font-weight: 700;
    text-shadow: 3px 4px 8px var(--complimentary-color);
    text-align: center;
    margin: 2px;
    
} */

.skills-section{
    margin: 1rem;
    display: flex;
    flex-direction: column;
}

/* .skills-section a{
    font-size: 30px;
    font-weight: 700;
    text-shadow: 3px 4px 8px var(--complimentary-color);
    text-align: center;
    margin: 2px;
} */

/* .grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
    padding: 10px;
    margin-top: 4rem;
    margin-bottom: 50px;
    border-bottom: 2px solid var(--primary-color-text);
} */

.grid-container{
    /* display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    gap: 40px; */
    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    grid-auto-rows: 10px; */
    /* padding: 5px; */
    /* background-color: var(--complimentary-color);
    border-radius: 2rem;
    margin: 1rem;
    padding: 2rem;
    font-size: 30px;
    padding-top: 60px; */
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 5em;
    margin-top: 4em;
    text-shadow: 2px 2px #ed7b22;
    margin-bottom: 2em;
}

.grid-container>*{
    place-self: center;
    /* this combines justify-self and align-self */
}

/* @media (max-width: 992px) {
    .grid-container{
        grid-template-columns: auto;
    }
} */

.contact-form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 40%;
    margin-top: 2em;
    margin-bottom: 2em;
    border-radius: 3em;
    background-color: var(--accent-color);
}

.form{
    display: flex;
    flex-direction: column;
    padding: 2em;
    background-color: var(--accent-color);
    border-radius: 3em;
    color: white;
    gap: 1.5em;
}

.input{
    display: flex;
    margin-top: .5em;
    border: 1px solid #CCC;
    border-radius: .25em;
    box-shadow: 0px 2px 2px 2px var(--complimentary-color);
    width: 15em;
    height: 2em;
    padding-left: .5em;
}

fieldset{
    border: 0;
    padding-top: .5em;
}

button{
    border-radius: 4px;
    border: 1px solid var(--complimentary-color);
    height: 2.5em;
    background-color: var(--complimentary-color);
    color: white;
    cursor: pointer;
}

@media (max-width: 932px) {
    .contact-form{
        display: flex;
        flex-wrap: wrap;
    }
}

button:hover{
    background-color: #d56e1e;
    border-color: #d56e1e;
    transition: .3s ease-in-out;
}

.image-container{
    width: auto;
    margin: 0 auto;
    /* display: flex;
    justify-content: center; */
}

.card{
    position: relative;
    margin: 1em;
    background: rgba(black, .7);
}

.card::after{
    content: '';
    position: absolute;
    top: 1.25em;
    bottom: 1.25em;
    left: 1.25em;
    right: 1.25em;
    opacity: 1;
    transition: transform ease-out 250ms;
    border-left: 1px solid var(--complimentary-color);
    border-right: 1px solid var(--complimentary-color);
    transform: scale(1,0);
}

.card::before{
    content: '';
    position: absolute;
    top: 1.25em;
    bottom: 1.25em;
    left: 1.25em;
    right: 1.25em;
    opacity: 1;
    transition: transform ease-out 250ms;
    border-top: 1px solid var(--complimentary-color);
    border-bottom: 1px solid var(--complimentary-color);
    transform: scale(0,1);
}

.card:hover::after{
    transform: scale(1, 1.05);
}

.card:hover::before{
    transform: scale(1.05, 1);
}

.card>img{
    max-width: 100%;
    display: block;
    transition: opacity ease-out 250ms;
}

.card:hover>img{
    opacity: .4;
}

.img-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    opacity: 0;
    transition: opacity ease-out 250ms;
  }

  .card:hover .img-text {
    opacity: 1;
  }

  .img-title{
    text-align: center;
    font-size: 2rem;
    color: white;
    text-shadow: 3px 4px 8px var(--complimentary-color);
    margin-bottom: 0;
  }

  footer{
    background-color: var(--accent-color);
    padding: 1em;
    color: white;
  }